<?xml version="1.0" encoding="utf-8"?>
<manifest package="be.kdg.teamd.beatbuddy"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".BeatBuddyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BeatBuddyTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/BeatBuddyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/BeatBuddyTheme"/>
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/BeatBuddyTheme"/>
        <activity
            android:name=".activities.CreateOrganisationActivity"
            android:label="@string/title_activity_create_organisation"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/BeatBuddyTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.kdg.teamd.beatbuddy.activities.MainActivity"/>
        </activity>
    </application>

</manifest>
